<configuration>
<appSettings>
    <add key="AllowedOrigins" value="http://devserver" />
    <add key="PassPhrase" value="Phrase123" />
    <add key="MailServerAddress" value="smtp.ent.com" />
    <add key="FromEmail" value="no-reply-quiz@ent.com" />
    <add key="FromTitle" value="Hub Quiz" />
    <add key="ERPEmpInfoViewName" value="view_EmpInfo" />
 </appSettings>
 <connectionStrings>
    <add name="QuizDB" connectionString="Data Source=DBSERVER\SHAREPOINT;Initial Catalog=QuizDB;Integrated Security=True;Connection Timeout=30;" />
 </connectionStrings>
</configuration>